<head>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/forms.css">
    <title>Login</title>
</head>


<body>
<section id="sheet">
    <div class="container">
        <div class="right-col">
            <div class="top-card">
                <p>Sign In To Post Image</p>
            </div>
            <div class="form-container" >
                <form action="/users/login" method = "POST" enctype = "application/x-www-form-urlencoded">
                    <div class="field-group">
                        <label for="username"></label>
                        <input name='username' id="username" type="text" placeholder="Username" required name = "username">
                    </div>
                    <div class="field-group">
                        <label for="password"></label>
                        <input name='password' id="password" value="" type="password" placeholder="Password" required name = "password">
                    </div>

                    <button type="submit">Sign in </button>
                    <a href="/registration" class="form-footerr"><span>don't have an account?</span></a>
                </form>
            </div>

        </div>
    </div>
</section>


</body>